 //Svg style

 
// Three Blocks

 .background-down{
    display: block;
    height: 10vh;
    width: 100%;
  }
  .block1{
    position: absolute;
    top: 30%;
    left: 7%;
    animation-name: animate-blocks;
    animation-duration: 8s;
    animation-iteration-count: infinite;
  }
  .block2{
    position: absolute;
    top: 35%;
    left: 12%;
    animation-name: animate-blocks;
    animation-duration: 8s;
    animation-iteration-count: infinite;
  }
  .block3{
    position: absolute;
    top: 40%;
    left: 17%;
    animation-name: animate-blocks;
    animation-duration: 8s;
    animation-iteration-count: infinite;
  }
  